<h1>Welcome to the mistery app {{name}}</h1>
<a href="/auth/login">login</a>
<a href="/auth/signup">signup</a>
<form action="/auth/logout" method="POST">
    <button type="submit">Logout</button>
</form>

<a href="/enigma">enigma ZONE</a>
<a href="/team">create a new team</a>